@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	padding: 10px;
}

.album-art {
	float: left;
	border: red 2px solid;
	padding: 20px;
	margin-left: 20px;
	margin-right: 30px;
	width: 150px;

}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	float: left;
	border: red 2px solid;
	padding: 20px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 12px;
	width: 270px;
}

.record-label {
	color: red;
	font-style: italic;

}

.track-list {
	list-style-type:square;
}

#about-photo {
	float: left;
	border: red 2px solid;
	padding: 20px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 12px;
	width: 500px;

}

#copyright {
	color: red;
	border-bottom: white 3px solid;
}

#section-about, #section-discography, #section-equipment {
	border: red 2px solid;
	margin-bottom: 40px;
	padding: 12px;
}

#text-intro {
	background-color:rgba(105, 105, 105, 0.748);
	color:red;
	border: red 2px solid;
	text-align: left;
	width: auto;
	padding: 12px;
	font-size: 16px;
}